@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Travel Agent App!</h1>
  <p>Get to know a few of <a href="/travels">our destinations</a> from the whole world!</p>
</div>
